.wrapper {
        display: grid;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
                             "header header header header"
                              "nav main main main"
                              "footer footer footer footer";
  }


.header {
          grid-area: header;

}

.nav {
        grid-area: nav;

}


.main {
          grid-area: main;
          
}




 .ctbut {
         position: relative;
         height: 45px;
         width: 100px;
         left: 5%;
         font-size: 18px;
         background-color: white;
         color: blue;
         border:  2px solid blue;
         box-shadow: 4px 4px #d3d3d3;
         margin: 20px;
 }




 

.form {
          position: relative;
          width: 15%;

          color: white;
}

.legend {
          color: #181616;
          font-size: 20px;
}









